---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import NavBar from "../../components/NavBar.astro";
import ProjectItem from "../../components/ProjectItem.astro";

const posts = await getCollection("tools");
const visiblePosts = posts.filter((post) => !post.data.hidden);
---

<BaseLayout title="tools">
  <NavBar active="tools" />

  <section  class="mobile-spacing">
    {
      visiblePosts.map((post, index) => (
        <>
          <ProjectItem
            title={post.data.title}
            description={post.data.description}
            path={`/tools/${post.slug}/`}
          />
          {index < visiblePosts.length - 1 && <hr />}
        </>
      ))
    }
  </section>
</BaseLayout>
