---
import SensitivityCalculatorLogic from "../../components/Tools/SensitivityCalculatorLogic.astro";
import ToolLayout from "../../layouts/ToolLayout.astro";
---

<ToolLayout title="Sensitivity Calculator">
  <SensitivityCalculatorLogic />

  <h2>Settings</h2>

  <span>Havoc DPI</span>
  <input
    type="range"
    min="0.0"
    max="2000.0"
    value="800.0"
    id="havocdpi"
    step="0.1"
    oninput="updateRangeAndMultiply('havocdpi', 'havocdpivalue');"
  />
  <input
    type="number"
    id="havocdpivalue"
    name="havocdpivalue"
    min="0"
    max="2000"
    value="800"
    step="0.1"
    oninput="updateRangeAndMultiply('havocdpivalue', 'havocdpi');"
  />

  <br />

  <label for="gameselector">Game - </label>
  <select id="gameselector" onchange="showGameSelectorContent(this.value);">
    <option value="gameselector-valorant">Valorant</option>
    <option value="gameselector-cs2">Counter Strike 2</option>
  </select>

  <br />

  <label for="unitselector">Unit - </label>
  <select id="unitselector" onchange="showUnitSelectorContent(this.value);">
    <option value="unitselector-inches">Inches</option>
    <option value="unitselector-centimeters">Centimeters</option>
  </select>

  <h2 id="game-title">Valorant</h2>

  <span>Sensitivity</span>
  <input
    type="range"
    min="0.0"
    max="5.0"
    value="1.0"
    id="gamesens"
    step="0.1"
    oninput="updateRangeAndMultiply('gamesens', 'gamesensvalue');"
  />
  <input
    type="number"
    id="gamesensvalue"
    name="gamesensvalue"
    min="0.0"
    max="5.0"
    value="1.0"
    step="0.1"
    oninput="updateRangeAndMultiply('gamesensvalue', 'gamesens');"
  />

  <br />

  <span>DPI</span>
  <input
    type="range"
    min="0"
    max="2000"
    value="800"
    id="gamedpi"
    step="0.1"
    oninput="updateRangeAndMultiply('gamedpi', 'gamedpivalue');"
  />
  <input
    type="number"
    id="gamedpivalue"
    name="gamedpivalue"
    min="0"
    max="2000"
    value="800"
    step="0.1"
    oninput="updateRangeAndMultiply('gamedpivalue', 'gamedpi');"
  />

  <div id="sensresult">Havoc sens - 0</div>
  <div id="distantresult">360° Distance - 0</div>
</ToolLayout>
