---
import PageMeta from "../../components/PageMeta.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { SITE_TITLE } from "../../config";
import SensitivityCalculatorLogic from "../../components/Tools/SensitivityCalculatorLogic.astro";
---

<PageLayout>
  <PageMeta title={`Sensitivity Calculator | ${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">

    <SensitivityCalculatorLogic/>

    <h1>Settings</h1>

    <span>Havoc DPI</span>
    <input
        type="range"
        min="0.0"
        max="2000.0"
        value="800.0"
        id="havocdpi"
        step="0.1"
        oninput="document.getElementById('havocdpivalue').value = this.value; multiply();"
    />
    <input
        type="number"
        id="havocdpivalue"
        name="havocdpivalue"
        min="0"
        max="2000"
        value="800"
        step="0.1"
        oninput="document.getElementById('havocdpi').value = this.value; multiply();"
    />

    <br />

    <label for="gameselector">Game - </label>
    <select id="gameselector" onchange="showGameSelectorContent(this.value);">
        <option value="gameselector-valorant">Valorant</option>
        <option value="gameselector-cs2">Counter Strike 2</option>
    </select>

    <br />
 
    <label for="unitselector">Unit - </label>
    <select id="unitselector" oninput="showUnitSelectorContent(this.value);">
        <option value="unitselector-inches">Inches</option>
        <option value="unitselector-centimeters">Centimeters</option>
    </select>

    <!--  -->

    <h1 id="game-title">Valorant</h1>

    <span>Sensitivity</span>
    <input
        type="range"
        min="0.0"
        max="5.0"
        value="1.0"
        id="gamesens"
        step="0.1"
        oninput="document.getElementById('gamesensvalue').value = this.value; multiply();"
    />
    <input
        type="number"
        id="gamesensvalue"
        name="gamesensvalue"
        min="0.0"
        max="5.0"
        value="1.0"
        step="0.1"
        oninput="document.getElementById('gamesens').value = this.value; multiply();"
    />

    <br />

    <span>DPI</span>
    <input
        type="range"
        min="0"
        max="2000"
        value="800"
        id="gamedpi"
        step="0.1"
        oninput="document.getElementById('gamedpivalue').value = this.value; multiply();"
    />
    <input
        type="number"
        id="gamedpivalue"
        name="gamedpivalue"
        min="0"
        max="2000"
        value="800"
        step="0.1"
        oninput="document.getElementById('gamedpi').value = this.value; multiply();"
    />

    <div id="sensresult">Havoc sens - 0</div>
    <div id="distantresult">360° Distance - 0</div>

  </Fragment>
</PageLayout>
