---
import BaseLayout from "../../layouts/BaseLayout.astro";

import NavBar from "../../components/NavBar.astro";
import FaqInteraction from "../../components/FaqInteraction.astro";
import FaqQuestion from "../../components/FaqQuestion.astro";
---

<!-- wtf was i on -->
<BaseLayout title="FAQ">
  <NavBar active="none" />
  <FaqInteraction />

  <section class="mobile-spacing">
    <h2 class="no-spacing">Havoc FAQ</h2>
    <hr class="no-spacing" />

    <FaqQuestion question="What is Havoc?">
      Havoc is a Free-to-Play tactical FPS that takes the genre to new heights
      with semi-destructible environments. Use strategy and skill to plant and
      defuse bombs, destroy walls to reach your target, and more. Immerse
      yourself in team-based action across various game modes, such as bomb
      defusal, team deathmatch, and more.
    </FaqQuestion>

    <FaqQuestion question="What tools were used to make this game?">
      <ul class="faq-answer-ident">
        <li>
          Game Engine
          <ul>
            <li>
              <a
                href="https://unity.com/"
                target="_blank"
                rel="noopener noreferrer">Unity</a
              >
            </li>
          </ul>
        </li>
        <li>
          Modelling
          <ul>
            <li>
              <a
                href="https://www.blender.org//"
                target="_blank"
                rel="noopener noreferrer">Blender</a
              >
            </li>
            <li>
              <a
                href="https://www.adobe.com/products/substance3d/apps/painter.html/"
                target="_blank"
                rel="noopener noreferrer">Substance Painter</a
              >
            </li>
            <li>
              <a
                href="https://www.adobe.com/products/substance3d/apps/designer.html/"
                target="_blank"
                rel="noopener noreferrer">Substance Designer</a
              >
            </li>
          </ul>
        </li>
        <li>
          Networking
          <ul>
            <li>
              <a
                href="https://mirror-networking.com/"
                target="_blank"
                rel="noopener noreferrer">Mirror</a
              >
            </li>
            <li>
              <a
                href="https://mirror-networking.gitbook.io/docs/manual/transports/fizzysteamworks-transport"
                target="_blank"
                rel="noopener noreferrer">Steamworks Transport</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </FaqQuestion>

    <FaqQuestion question="How much does the game cost?"
      >Havoc is totally Free-to-Play <a
        href="https://store.steampowered.com/app/2149290/Havoc/"
        target="_blank"
        rel="noopener noreferrer">Check it out on Steam</a
      >, the game's only paid feature are cosmetics, which can be bought from
      Havoc bucks in the In-Game shop.
    </FaqQuestion>

    <FaqQuestion question="How do I get skins?">
      You can get skins by playing the game, and leveling up. There is also a
      rotating shop where you can spend Havoc bucks to buy skins.
    </FaqQuestion>

    <FaqQuestion question="How do I convert my sensitivity?"
      ><a
        href="https://havoc-tools.copperdevs.com/tools/sensitivity/"
        target="_blank"
        rel="noopener noreferrer">Sens Converter</a
      > - Allows you to convert from CS2 and Valorant.
    </FaqQuestion>

    <FaqQuestion question="Is there a ranked mode for Havoc?"
      >Havoc's ranked system is currently unavailable due to issues and bugs
      with the mode. Stay tuned on our <a
        href="https://discord.gg/RpKd73X3RW"
        target="_blank"
        rel="noopener noreferrer">Discord</a
      >, for future updates.
    </FaqQuestion>

    <FaqQuestion question="How can I report bugs or provide feedback?"
      >You can report bugs and provide feedback through our official <a
        href="https://discord.gg/RpKd73X3RW"
        target="_blank"
        rel="noopener noreferrer">Discord Server</a
      >. We value player input and strive to improve the game based on community
      suggestions.
    </FaqQuestion>

    <FaqQuestion question="How can I report players?"
      >You can report players through our In-Game report system, but we take a
      substantial consideration wether or not someone should be banned. If you
      want to provide further evidence on a player report you should join our <a
        href="https://discord.gg/RpKd73X3RW"
        target="_blank"
        rel="noopener noreferrer">Discord</a
      > and report the player there, with SteamID and evidence clip attached.
    </FaqQuestion>

    <FaqQuestion question="I like the game, how can I show support?"
      >A Positive Steam Review would help us out a lot, we are actively trying
      to improve the game, and would appreciate a good review. <a
        href="https://store.steampowered.com/app/2149290/Havoc/#app_reviews_hash/"
        target="_blank"
        rel="noopener noreferrer"
        >Write a Review
      </a>
    </FaqQuestion>

    <FaqQuestion question="My FPS is low, how come?"
      >We are trying to improve optimization as much as possible. <strong
        >DISCLAMER:</strong
      > The game is not suppose to run, and was not designed - for low-end computers,
      we do have a system requirement tab on our <a
        href="https://store.steampowered.com/app/2149290/Havoc/"
        target="_blank"
        rel="noopener noreferrer">Steam Page</a
      >.
    </FaqQuestion>

    <FaqQuestion question="How to put on attachments on weapons?">
      You can buy attachments by holding down your inspect key (G by default).
    </FaqQuestion>
  </section>
</BaseLayout>
