---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage
    title="About Havoc Tools"
    description="Many online tools for Havoc. Havoc is a tactical team-based, first-person shooter game made by 2 developers."
    url="https://copperdevs.github.io/havoc-tools/"
    banner="https://copperdevs.github.io/havoc-tools/images/banner.jpg"
>
    <h1><span class="text-gradient-orange">Havoc</span> Tools About</h1>
</BasePage>
