---
import NavBar from "../components/NavBar.astro";
import RecentArticles from "../components/RecentArticles.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <NavBar active="home" />

  <style>
    .index-emoji {
    }
  </style>

  <div class="index-callout">
    <h2 class="index-callout-main">
      Welcome to <span class="text-gradient"
        ><a href="https://store.steampowered.com/app/2149290/Havoc/">Havoc</a
        ></span
      > Tools <span class="show-on-desktop">⚒️</span>
    </h2>
    <h4 class="index-callout-sub">
      Tools for the indie fps game '<a
        href="https://store.steampowered.com/app/2149290/Havoc/">Havoc</a
      >'
    </h4>
  </div>

  <hr />

  <div>
    <h3>Recent Articles - <a href="/projects">View All</a></h3>
    <RecentArticles astro:before-preparation />
  </div>
</BaseLayout>
