---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <NavBar active="home" />

  <div>
    <p><span class="text-gradient">havoc</span> tools</p>
    <p>theres like tools and stuff</p>
  </div>
</Layout>
