---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage
    title="Havoc Tools"
    description="Many online tools for Havoc. Havoc is a tactical team-based, first-person shooter game made by 2 developers."
    url="https://olympiangames.github.io/havoc-tools/"
    banner="https://olympiangames.github.io/havoc-tools/images/banner.jpg"
>
    <h1> <span class="text-gradient">Havoc Tools</span> </h1>
    <p>
        To get started, open the directory <code>src/pages</code> in your project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
</BasePage>
