---
import NavBar from "../components/NavBar.astro";
import RecentArticles from "../components/RecentArticles.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <NavBar active="home" />

  <div class="index-callout">
    <h2 class="index-callout-main">
      Welcome to <span class="text-gradient"
        ><a href="https://store.steampowered.com/app/2149290/Havoc/">Havoc</a
        ></span
      > Tools <span class="show-on-desktop">⚒️</span>
    </h2>
    <h4 class="index-callout-sub">
      <span class="color-gray-light">Tools for the indie fps game</span>
      '<a href="https://store.steampowered.com/app/2149290/Havoc/">Havoc</a>'
    </h4>
  </div>

  <div>
    <h3 class="index-projects-header index-projects-spacing">
      Recent Articles - <a href="/articles">View All</a>
    </h3>
    <hr />
    <RecentArticles astro:before-preparation />
  </div>
</BaseLayout>
