---
import Divider from "../../common-astro/components/Divider.astro";
import NavBarHeaderLink from "./NavBarHeaderLink.astro";

interface Props {
  active: string;
}

const { active } = Astro.props;
---

<div class="navbar">
  <div class="navbar-links">
    <slot />
    <NavBarHeaderLink name="home" href="/" active={active} />
    <NavBarHeaderLink name="articles" href="/articles" active={active} />
    <NavBarHeaderLink name="tools" href="/tools" active={active} />
  </div>
</div>
