---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  title: string;
  description: string;
  path: string;
  releaseDate: Date;
}

const { title, description, path, releaseDate } = Astro.props;
---

<div class="project-item">
  <h3 class="project-item-header">
    <a href={path}>
      <span class="text-gradient">{title}</span>
    </a>

    <div class="project-item-header-date"><FormattedDate date={releaseDate} /></div>
  </h3>

  <h5 class="project-item-paragraph">
    <span>{description}</span>
  </h5>
</div>
