---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import "../../common-astro/style/style.css";
import FontAwesome from "../../common-astro/components/FontAwesome.astro";
import LinkRedirect from "../../common-astro/components/LinkRedirect.astro";
import Footer from "../components/Footer.astro";
import Umani from "../../common-astro/components/Umani.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Online tools for the fps game 'Havoc'" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>havoc tools // {title}</title>
    <ViewTransitions />
    <FontAwesome projectId="45b7384014" />
    <Umani websiteId="8a350e23-12dc-4bd1-99b6-f0d804546e6b" />
  </head>
  <body>
    <div class="content">
      <main>
        <LinkRedirect
          badUrls={["havoc-tools.pages.dev"]}
          targetUrl="havoc-tools.copperdevs.com"
        />
        <slot />
      </main>
    </div>
    <div class="footer">
      <Footer />
    </div>
  </body>
</html>
